body {
    font-family: Arial, sans-serif;
    background-color: #5e5e5f;
    color: #333;
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.weather-app {
    background-color: #a4a8ba;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(109, 3, 3, 0.1);
    display: inline-block;
    padding: 20px;
    width: 300px;
}

form {
    margin-bottom: 20px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 80%;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.weather-info p {
    margin: 10px 0;
}

#temp-celsius {
    color: #f9f9fa;
}

#temp-fahrenheit {
    color: #f5f5f5;
}

#weather {
    color: #ffffff;
}

#wind-speed {
    color: #f7f7f7;
}

#humidity {
    color: #e9f0e9;
}

#weather-icon {
    width: 50px;
    height: 50px;
}

p,img{
    color: #f3f2f2;
}
